/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(252, 246, 246);
}

.container {
    margin-top: 20px;
}

/* Navbar styles */
.navbar {

    color: rgb(195, 91, 26);
    margin-inline: 20px;



}

.navbar-brand,
.navbar-nav .nav-link {
    color: orange;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

/* Active link style */
.navbar-nav .nav-item.active .nav-link {
    color: #ff0707;
}

/* Page-specific styles */
.container h2 {
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 20px;
}

.login-sec {
    background-color: rgb(92, 90, 90);
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
    border-width: 10px;



}

.otp-sec {
    background-color: rgb(92, 90, 90);
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
    height: 400px;
    align-items: center;
    text-align: center;
    padding-top: 40px;

}

.regis-sec {
    background-color: rgb(92, 90, 90);
    color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: orange;
    border-width: 10px;
}



.profile-sec {
    position: relative;
    background-image: url(cofeefinal.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 600px;

    color: brown;

}

.profile-sec h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}

.profile {
    position: absolute;
    text-align: center;
    padding: 20px;
    border: 5px solid orange;
    top: 40px;
    border-radius: 60px;
    color: white;
    border-style: groove;


}

.profile :hover {
    color: rgb(240, 155, 9);
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile h2 {
    margin-top: 10px;
}

.profile p {
    margin-bottom: 10px;
}

.profile .btn-primary {
    margin-top: 10px;
}



.Gif {
    background-image: url(art-of-coffee.gif);
    height: 269px;
    background-image: 100%;
    background-repeat: no-repeat;
    float: right;
    color: aliceblue;
    padding-top: 50px;
    padding: 20px;

}

.quote {

    background-image: url(pxfulll.jpg);
    height: 269px;
    background-image: 100%;
    background-repeat: no-repeat;
    color: brown;
    padding-top: 30px;
    padding: 10px;
    background-size: cover;
    font-family: cursive;
    text-decoration: wavy;
    font-weight: bolder;
}


.product-module {

    margin-left: 20px;
    margin-right: 20px;
}

.product-module h1 {

    font-family: cursive;
    text-decoration: wavy;
    font-weight: bolder;
    color: brown;
    text-align: center;
    padding-bottom: 10px;

}

.product {
    border: 3px solid orange;
    border-style: groove;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.product :hover {

    background-color: rgb(249, 206, 126);
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 20px;
    margin-top: 10px;
    font-style: serif;
    font-weight: 400;
    color: brown;
    text-decoration: underline;
    text-align: center;

}

.product h5 {
    margin: 10px;
    color: brown;
    font-style: serif;
    font-weight: 400;
}

.product p {
    font-size: 16px;
}

.product button {
    margin-top: 10px;
}

.btn-details {
    text-align: right;
    float: right;
}

.cold-coffee {
    background-color: rgb(240, 214, 222);
}

.cold-coffee h2 {

    font-family: cursive;
    text-decoration: wavy;
    font-weight: bolder;
    color: brown;
    text-align: center;
    padding-bottom: 10px;
}

.footer {
    background-image: url('cold\ footer.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;

}

.footer h3 {
    color: orange;
    font-weight: bolder;
}

.footer p {
    margin-bottom: 10px;
}